@tailwind base;
@tailwind components;
@tailwind utilities;

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {

}


@layer utilities {
  .flex_center {
    @apply flex justify-center items-center;
  }

  .flex_center_column {
    @apply flex flex-col justify-center items-center;
  }

  .container {
    @apply min-w-full max-w-3xl px-2 md:px-4 xl:px-20;
  }

  .footer_list {
    @apply w-full flex flex-col gap-2 sm:w-1/2 md:w-1/4 lg:w-1/6;
  }
}
